menu "Architecture"

config TARGET
    string "Target Definition"
    default x86
    help
        This selects what build type will be used to compile the kernel
        Available platforms are:
         - hosted
         - x86
         - rpi4

if TARGET=hosted
config HOSTED_BASE
    bool "Hosted Base Functionality"
    default y
    select LIBC
    help 
        This package should always be selected when building for hosted
        enviorments. Without it dependencies will not be met.
endif

if TARGET=x86
source "src/arch/x86/Kconfig"
endif

if TARGET=rpi4
source "src/arch/rpi4/Kconfig"
endif

endmenu
