menu Subsystems

config TIMEKEEPING
    bool "Timekeeping"
    default y
    help
        This option enables the kernel to have support for timekeeping functions

config CONSOLE
    bool "Kernel Console"
    default y
    help
        This option allows the kernel to log it's status to external devices.

config FRAMEBUFFER
    bool "Framebuffer"
    help
        This enables kernel framebuffer support.

config IRQ
    bool "Hardware IRQ"
    help
        This enables kernel support of the IRQ Subsystem

config BASE_SYSTEM
    bool "System Management"
    help
        This enables kernel support for base system devices

endmenu
