menu "Serial Console Drivers"

config TTY_SERIAL_16550_UART
    bool "16550 UART Support"
    depends on X86_BASE
    help
        Enables the 16550 driver, and enables kernel console output
        on the primary 16550 port.
endmenu
