menu "Drivers"
source "src/drivers/clock/Kconfig"

source "src/drivers/base/Kconfig"

source "src/drivers/console/Kconfig"

source "src/drivers/irqchip/Kconfig"

source "src/drivers/framebuffer/Kconfig"

endmenu
