menuconfig LIBC
    bool "Standard Library Functions"
    select LIBC_MATH
    select LIBC_STDIO
    select LIBC_STRING
    help 
        Standard library functionality is used throughout the kernel. Do not
        disable this functionality unless you know what you are doing.
if LIBC

config LIBC_MATH
    bool "<math.h> Compatiblity"
    help
        Enables functions found in math.h

config LIBC_STDIO
    bool "<stdio.h> Compatibility"
    help
        Enables functions found in stdio.h

config LIBC_STRING
    bool "<string.h> Compatibility"
    default y
    help
        Enables functions found in string.h

endif
